/* Basic styling for the body and h1 */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
}

/* Styling for the game board */
#gameBoard {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;


}

/* Styling for each card */
.card {

    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.4s;
    transform-style: preserve-3d;

}

.card[data-flipped="true"] {
    transform: rotateY(180deg);
}

.card-icon {
    display: none;
    backface-visibility: hidden;
}

.card[data-flipped="true"] .card-icon {
    display: block;
}

.card[data-flipped="false"] .back-icon {
    display: block;
}




.card[data-flipped="true"] .back-icon {
    display: none;
}









