<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Memory Matching Game</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<!-- Ensure the entire page content is only visible to authenticated users -->
<div sec:authorize="isAuthenticated()">

    <h1>Memory Matching Game</h1>

    <!-- Display the username -->
    <div id="username">Welcome, <span></span></div>

    <!-- Timer -->
    <div id="timer">5:00</div>

    <!-- Game Board -->
    <div id="gameBoard">
        <!-- Card -->
        <div class="card" th:each="card : ${cards}">
            <div class="card-inner">
                <!-- Front of the Card -->
                <div class="front" th:if="${card.isFlipped}">
                    <span class="material-icons card-icon" th:text="${card.iconName}"></span>
                </div>
                <!-- Back of the Card -->
                <div class="card-back" th:unless="${!card.isFlipped}">
                    <div class="back"></div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/scripts.js}"></script>
</div>

</body>
</html>
