<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Memory Matching Game</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<!--    <script th:src="@{/js/scripts.js}"></script>-->


</head>
<body>

<div>
    <h1>Memory Matching Game</h1>
    <div id="gameBoard">
        <div class="card" th:each="card: ${cards}">
            <img th:if="${card.isFlipped}" th:src="${card.imageURL}" alt="Card"/>
            <!-- You can show a default image or blank space if card is not flipped -->


            <img th:unless="${card.isFlipped}" src="/path/to/placeholder/image.jpg" alt="Back of Card"/>

        </div>
    </div>
    <div id="timer">0:00</div>
    <form th:action="@{/score}" th:object="${score}" method="post">
        <input type="hidden" th:field="*{timeTaken}" id="scoreTime"/>
        <input type="hidden" th:field="*{player.username}" id="playerName"/>
        <input type="submit" value="Submit Score"/>
    </form>
</div>


</body>
</html>