<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Memory Matching Game</title>
</head>
<body>

<h1>Memory Matching Game</h1>

<div id="gameBoard">

    <div class="card" th:each="card: ${cards}">

        <!-- Display card value -->


        <p th:text="${card.value}"></p>

        <!-- Display card image -->

        <img th:if="${card.imageURL}" th:src="${card.imageURL}" alt="Card Image"/>

        <!-- You might have some logic to display card based on its flipped status, for simplicity we're just displaying the value and image -->


    </div>


</div>

<!-- Include other parts of your game like a form to submit the score -->

<form th:action="@{/score}" th:object="${score}">




</form>





</body>
</html>